<!-- <a routerLink="/video/{{video._id}}" class="card clickable "> -->
    <!-- <div class="card-img card-img-single">
        <img class="video-img" src="{{ video.image }}" alt="">
    </div>
    <div class="card-block">
        <h4 class="card-text">{{ video.title}}</h4>
        <h4 class="card-text">By <a href="#">{{ video.director }}</a></h4>
        <div *ngIf="video.star !== undefined">
            <img *ngFor="let s of [].constructor(video.star)" src="assets/img/star.svg" alt="Logo" class="logo-img star">
        </div>
    </div> -->


    <!-- <div class="column">
        <img class="thumbnail" src="{{ video.image}}">
        <h5>{{ video.title}}</h5>
        <p>{{ video.director}}</p>
        <img *ngFor="let s of [].constructor(video.star)" src="assets/img/star.svg" alt="Logo" class="logo-img star">
        <a href="#" class="button expanded ">Reserve</a>
    </div> -->
<!-- 
            <img class="thumbnail" src="https://placehold.it/300x400">
            <h5>Nulla At Nulla Justo, Eget</h5>
            <p>$400</p>
            <a href="#" class="button small expanded hollow">Buy</a> -->


<!-- </a> -->




