<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <a routerLink="/video/1" class="card clickable">
        <div class="card-img">
          <img class="single-img" src="https://2.bp.blogspot.com/-Tc5FpWGHMrM/WyR_YCc_HKI/AAAAAAAFFuo/KpXuVB1A-do_UOZzHqZYjUl35PtGG6xtgCHMYCw/s0/dr_seuss_how_the_grinch_stole_christmas-454843405-large.jpg" alt="">
        </div>
        <div class="card-block">
            <p class="card-text">
              The Grinch
            </p>
            <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
            <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
            <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
            <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
            <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
        </div>
    </a>
</div>
