<!-- <table class="table">
  <thead>
      <tr>
          <th></th>
          <th>Title</th>
          <th>Length</th>
          <th>Author</th>
          <th>Star</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
  </thead>
  <tbody >
      <tr *ngFor="let video of videos">
          <td><img alt="" style="width: 50px;" src="{{ video.image}}" ></td>
          <td>{{ video.title}}</td>
          <td>{{ video.length }} minutes</td>
          <td>{{ video.director }}</td>
          <td>
            <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
            <span>{{ video.star }}/5</span>
          </td>
          <td>{{ video.status }}</td>
          <td><button type="button" class="btn btn-primary" routerLink="/portal/video-edit/{{video._id}}">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteVideo(video._id)">Delete</button></td>
      </tr>

  </tbody>
</table> -->

<div>
      <div class="table-header">
        <div class="input-filter-wrapper">
          <input class="input-filter" type="text" (keyup)="updateFilter($event);" placeholder="Search" />
        </div>
        <div class="add-video-btn">
          <button type="button" class="bx--btn bx--btn--primary" style="background-color: #2199e8" routerLink="/portal/video-create">Add New Video</button>
        </div>
      </div>
      <ibm-placeholder></ibm-placeholder>
      <ibm-table *ngIf="!loading" [model]="videoTable" (sort)="customSort($event)" (filter)="updateFilter($event)" [showSelectionColumn]="true"
                  [striped]="true"></ibm-table>
      <ibm-pagination *ngIf="!loading" [model]="videoTable" (selectPage)="selectPage($event)"></ibm-pagination>
      
      <ibm-loading *ngIf="loading">Loading...</ibm-loading>

      <ng-template #UpdateTemplateRef  let-data="data">
        <button type="button" class="bx--btn bx--btn--primary" style="background-color: #2199e8" (click)="handleUpdate(data);">Update</button>
      </ng-template>
      <ng-template #DeleteTemplateRef let-data="data">
        <button type="button" class="bx--btn bx--btn--danger" (click)="handleDelete(data);">Delete</button>
      </ng-template>

</div>