<table class="table">
  <thead>
      <tr>
          <th></th>
          <th>Title</th>
          <th>Length</th>
          <th>Author</th>
          <th>Star</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
  </thead>
  <tbody >
      <tr *ngFor="let video of videos">
          <td><img alt="" style="width: 50px;" src="{{ video.image}}" ></td>
          <td>{{ video.title}}</td>
          <td>{{ video.length }} minutes</td>
          <td>{{ video.director }}</td>
          <td>
            <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
            <span>{{ video.star }}/5</span>
          </td>
          <td><button type="button" class="btn btn-primary" routerLink="/portal/video-edit/{{video._id}}">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteVideo(video._id)">Delete</button></td>
      </tr>

  </tbody>
</table>