<div class="column row">
        <hr>
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title"><a routerLinkActive="active" routerLink="/portal/video-management" aria-selected="true">Videos</a></li>
            <li class="tabs-title"><a routerLinkActive="active" routerLink="/portal/user-management">Users</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            
            <router-outlet></router-outlet>
        </div>
    </div>