
<div class="row">
        <div class="medium-6 columns" >
            <img class="thumbnail" src="{{ video?.image }}" style="max-height: 500px;">
            
        </div>
        <div class="medium-7 large-6 columns">
            <h2>{{ video?.title }}</h2><br>
            <p>{{ video?.description }}</p><br>
            <h3>By <a href="#">{{ video?.director }}</a> </h3><br>
            <h4>Length: {{ video?.length }} minutes</h4>
            <h4>Genre: {{ video?.genre }}</h4><br>
            <label for=""><h3>Customer:</h3>
            <select  [(ngModel)]="userID" [disabled]="video?.status !== 'Available'">
                <option value="0" selected disabled value="">Customer</option>
                <option *ngFor="let user of activeUsers" value="{{ user._id }}">{{ user?.firstname + " " + user?.lastname }}</option>
            </select></label>
            <button routerLink="/" class="button large">Cancel</button>
            <button *ngIf="video?.status === 'Available'" (click)="reserveVideo($event)" class="button large">Reserve</button>
            <button *ngIf="video?.status !== 'Available'" class="button large secondary">Occupied</button>
            
        </div>
    </div>