<div class="clr-row">
  <div class="clr-col-4">
      <div class="card-img">
          <img class="single-img" src="https://2.bp.blogspot.com/-Tc5FpWGHMrM/WyR_YCc_HKI/AAAAAAAFFuo/KpXuVB1A-do_UOZzHqZYjUl35PtGG6xtgCHMYCw/s0/dr_seuss_how_the_grinch_stole_christmas-454843405-large.jpg" alt="">
      </div>
  </div>
  <div class="clr-col-8">
    <header>
      <h2>The Grinch</h2>
      <h3>By <a href="#">Author</a> - Thu Sep 14 2017 </h3>
      <blockquote>Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.</blockquote>
    </header>
  </div>
</div>