<div class="clr-row" id="video-wrapper">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card-img " id="video-img">
          <img class="single-img" [src]="video.image" alt="">
      </div>
  </div>
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <form>
          <section class="form-block">
      <h2>{{ video.title }}</h2>
      <h3>By <a href="#">{{ video.director }}</a> - Thu Sep 14 2017 </h3>
      <h4>Running Time: {{ video.length }} minutes</h4>
      <h4>Genre: {{ video.genre }}</h4>
      
          <div class="select col-xl-8 col-lg-8 col-md-8">
              <select id="aForm_3">
                  <option value="0" selected disabled>Customer</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
              </select>
          </div>
      <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
      <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
      <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
      <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
      <img src="assets/img/star.svg" alt="Logo" class="logo-img star">
      
      <blockquote>{{ video.description }}</blockquote>

      <button type="button" class="btn" routerLink="/videos">Cancel</button>
      <button type="button" class="btn btn-primary">Reserve</button>
      </section>
      </form>
  </div>
</div>