<div class="row column align-center medium-6 large-4 container-padded" 
    style="margin: 10% auto;">
    <form class="log-in-form">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Will's Video Store
            <h5 class="hint">Use your credentials to sign in or create one now</h5>
        </section>
        <label>Email
            <input #username class="username" type="text" id="login_username" placeholder="Username">
        </label>
        <label>Password
            <input #password class="password" type="password" id="login_password" placeholder="Password">
        </label>
        <div *ngIf="loginError === true" class="error active">
            Invalid user name or password
        </div>
        <p><button (click)="login(username.value, password.value)" class="button expanded">NEXT</button></p>
        <p class="text-center"><a href="#">Forgot your password?</a></p>
    </form>
</div>